<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row">
        <!--Add some content here -->
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="card mb-4">
    <div class="card-header">
      <h3 class="mb-0">{{ isEdit ? 'Editar Coordenador' : 'Adicionar Novo Coordenador' }}</h3>
    </div>
    <div class="card-body">
      <form #coordenadorForm="ngForm">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label" for="nome">Nome*</label>
              <input class="form-control" required="true" name="nome" #nome="ngModel" id="nome" [(ngModel)]="coordenador.nome" placeholder="Nome" type="text">
              <div *ngIf="nome.invalid && (nome.dirty || nome.touched)" class="invalid-feedback">
                O nome é obrigatório.
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label" for="email">Email*</label>
              <input class="form-control" required="true" id="email" name="email" #email="ngModel" [(ngModel)]="coordenador.email" placeholder="Email" type="text">
              <div *ngIf="email.invalid && (email.dirty || email.touched)" class="invalid-feedback">
                o email é obrigatório.
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-success" [disabled]="coordenadorForm.invalid" (click)="saveCoordenador()">
              <i class="fas fa-plus mr-2"></i>{{ isEdit ? 'Salvar' : 'Gravar' }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
