<!-- beneficiario.component.html -->
<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row">
        <div>
          <!-- Button to open the modal -->
          <!--          <button type="button" class="btn btn-success" (click)="open(classic3, 'modal_mini', 'sm')">-->
          <!--            <i class="fas fa-plus mr-2"></i>Novo-->
          <!--          </button>-->
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <!--          <button type="button" class="btn btn-success" (click)="open(classic3, 'modal_mini', 'sm')">-->
          <!--            <i class="fas fa-plus mr-2"></i>Novo-->
          <!--          </button>-->
          <button type="button" class="btn btn-success" [routerLink]="['/persist-beneficiario']">
            <i class="fas fa-plus mr-2"></i>Novo
          </button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Email</th>
                <th scope="col">Acção</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let beneficiario of beneficiarios">
                <th scope="row">{{beneficiario.nome}}</th>
                <td>{{beneficiario.email}}</td>
                <td>
                  <button type="button" class="btn btn-info btn-sm mr-2" [routerLink]="['/edit-beneficiario', beneficiario.id]">
                    <i class="fas fa-edit"></i> Editar
                  </button>

                  <button type="button" class="btn btn-default btn-sm mr-2" [routerLink]="['/view-beneficiario', beneficiario.id]">
                    <i class="fas fa-eye"></i> Ver
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
