::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color: red;
  background-color: green;
}

::ng-deep .mat-tab-list .mat-tab-labels {
  color: blue;
  background-color: #fafaf6;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label {
  margin-right: 8px;
  border-radius: 4px;
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  background-color: #28a745; /* Success color for active tab */
  color: #fff; /* White text color for active tab */
}

::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label:hover {
  background-color: #e2e6ea; /* Light hover background */
  color: #495057; /* Dark text color on hover */
}
