<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7 bg-light">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3 class="mb-0">Parâmetros</h3>
        </div>
        <div class="card-body">
          <div class="row icon-examples">
            <div class="col-lg-3 col-md-6">
              <button type="button" placement="top-center"   class="btn-icon-clipboard"  [routerLink]="['/banco']"    style="background-color: #edebeb;">
                <div>
                  <i class="text-green ni ni-briefcase-24"></i>
                  <span>Banco</span>
                </div>
              </button>
            </div>
            <div class="col-lg-3 col-md-6">
              <button type="button" placement="top-center"   class="btn-icon-clipboard " [routerLink]="['/moeda']"    style="background-color: #edebeb;">
                <div>
                  <i class="text-green ni ni-money-coins "></i>
                  <span>Moeda</span>
                </div>
              </button>
            </div>
            <div class="col-lg-3 col-md-6">
              <button type="button" placement="top-center"   class="btn-icon-clipboard" [routerLink]="['/conta']"    style="background-color: #edebeb;">
                <div>
                  <i class="text-green text-green ni ni-credit-card"></i>
                  <span>Conta</span>
                </div>
              </button>
            </div>
            <div class="col-lg-3 col-md-6">
              <button type="button" placement="top-center"   class="btn-icon-clipboard" [routerLink]="['/pais']"    style="background-color: #edebeb;">
                <div>
                  <i class="text-green ni ni-world"></i>
                  <span>País</span>
                </div>
              </button>
            </div>
            <div class="col-lg-3 col-md-6">
              <button type="button" placement="top-center"  class="btn-icon-clipboard"  [routerLink]="['/actividade']"    style="background-color: #edebeb;" >
                <div>
                  <i class="text-green ni ni-sound-wave"></i>
                  <span>Actividade</span>
                </div>
              </button>
            </div>
            <div class="col-lg-3 col-md-6">
              <button type="button" placement="top-center"   class="btn-icon-clipboard" [routerLink]="['/coordenador']"    style="background-color: #e3dddd;">
                <div>
                  <i class="text-green ni ni-user-run"></i>
                  <span>Coordenador</span>
                </div>
              </button>
            </div>
            
            <div class="col-lg-3 col-md-6">
              <button type="button" placement="top-center"   class="btn-icon-clipboard" [routerLink]="['/beneficiario']"    style="background-color: #edebeb;">
                <div>
                  <i class="text-green ni ni-circle-08"></i>
                  <span>Beneficiário</span>
                </div>
              </button>
            </div>
            
            <div class="col-lg-3 col-md-6">
              <button type="button" placement="top-center"   class="btn-icon-clipboard" [routerLink]="['/financiador']"    style="background-color: #edebeb;">
                <div>
                  <i class="text-green ni ni-user-run"></i>
                  <span>Financiador</span>
                </div>
              </button>
            </div>
            
            <div class="col-lg-3 col-md-6">
              <button type="button" placement="top-center"   class="btn-icon-clipboard" [routerLink]="['/unidadeOrganica']"    style="background-color: #edebeb;">
                <div>
                  <i class="text-green ni ni-building"></i>
                  <span>Unidade Orgânica</span>
                </div>
              </button>
            </div>
            
            <div class="col-lg-3 col-md-6">
              <button type="button" placement="top-center"   class="btn-icon-clipboard" [routerLink]="['/rubricaEstado']"    style="background-color: #edebeb;">
                <div>
                  <i class="text-green ni ni-world"></i>
                  <span>Rúbrica do Estado</span>
                </div>
              </button>
            </div>
            
            <div class="col-lg-3 col-md-6">
              <button type="button" placement="top-center"   class="btn-icon-clipboard" [routerLink]="['/financiamento']"    style="background-color: #edebeb;">
                <div>
                  <i class="text-green ni ni-building"></i>
                  <span>Financiamento</span>
                </div>
              </button>
            </div>
            
            <div class="col-lg-3 col-md-6">
              <button type="button" placement="top-center"   class="btn-icon-clipboard" [routerLink]="['/subProjecto']"    style="background-color: #edebeb;">
                <div>
                  <i class="text-green ni ni-building"></i>
                  <span>Sub-Projectos</span>
                </div>
              </button>
            </div>
            
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
