<!-- Page content -->
<div class="container mt-8 pt-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-white shadow border-0">
        <div class="card-header bg-gradient-success pb-2">
          <div class="btn-wrapper text-center">
            <div>
              <h1 class="text-white">SIGF - DOAÇÕES</h1>
            </div>
          </div>
        </div>
        <div class="card-body px-lg-5 py-lg-5">
          <div>
            <p style="color: gray;">Por favor informe os seus dados de Login</p>
          </div>
          <!-- Bind the form to Angular's reactive form -->
          <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <div class="form-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Email"
                  formControlName="email"
                  type="email">
              </div>
              <div *ngIf="f.email.touched && f.email.invalid" class="text-danger">
                Email é obrigatório.
              </div>
            </div>
            <div class="form-group">
              <div class="input-group input-group-alternative">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                </div>
                <input
                  class="form-control"
                  placeholder="Senha"
                  formControlName="password"
                  type="password">
              </div>
              <div *ngIf="f.password.touched && f.password.invalid" class="text-danger">
                Senha é obrigatória.
              </div>
            </div>
            <div class="text-center">
              <button
                class="btn btn-success my-4 btn-lg btn-block"
                [disabled]="loading || loginForm.invalid"
                type="submit">Entrar
              </button>
            </div>
            <div *ngIf="error" class="alert alert-danger mt-2">
              {{ error }}
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
