<!-- show-beneficiario.component.html -->
<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row">
        <div>
          <!-- Button to open the modal -->
          <!-- <button type="button" class="btn btn-success" (click)="open(classic3, 'modal_mini', 'sm')">
            <i class="fas fa-plus mr-2"></i>Novo
          </button> -->
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="col">
    <div class="card shadow">
      <div class="card-header bg-transparent">
        <button [routerLink]="['/dashboard']" class="btn btn-success" type="button">
          <i class="fas fa-home mr-2"></i>Home
        </button>
<!--        <button [routerLink]="['/rubricaProjecto']" class="btn btn-success" type="button">-->
<!--          <i class="fas fa-list mr-2"></i>Lista de Projectos-->
<!--        </button>-->
<!--        <button [routerLink]="['/edit-rubricaProjecto', rubricaProjecto.id]" class="btn btn-info" type="button">-->
<!--          <i class="fas fa-edit"></i> Editar Projecto-->
<!--        </button>-->
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm">
            <div>Codigo da Rubrica: <strong>{{ rubricaProjecto.codigo_rubrica }}</strong></div>
            <div>Nome: <strong>{{ rubricaProjecto.nome }}</strong></div>
            <div>Projecto: <strong>{{ rubricaProjecto.projecto?.nome }}</strong></div>
          </div>
          <div class="col-sm">
            <div>Valor: <strong>{{ rubricaProjecto.valor | number: '1.2-2'}}</strong></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
<div class="container-fluid mt--7">
  <div class="col">
    <div class="card shadow">
      <div class="card-header bg-transparent">
        <div class="container">
          <!-- Tabs -->
          <mat-tab-group>
            <!--            Sub Rubricas-->
            <mat-tab label="Sub Rubricas">
              <ng-template mat-tab-label>
                <i class="fas fa-project-diagram mr-2"></i> Sub Rubricas
              </ng-template>
              <div class="p-3">
                <div class="row">
                  <div class="col-sm">
                    <div class="col-12">
                      <hr> <!-- This will add a horizontal line to separate each account -->
                    </div>
                    <form #subRubricaForm="ngForm">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="form-control-label" for="codigo_rubrica">Codigo *</label>
                            <input
                              class="form-control"
                              id="codigo_rubrica"
                              name="codigo_rubrica"
                              required="true"
                              [(ngModel)]="subRubrica.codigo_rubrica"
                              placeholder="Codigo"
                              type="text"
                              #codigo_rubrica="ngModel"
                            >
                            <div *ngIf="codigo_rubrica.invalid && (codigo_rubrica.dirty || codigo_rubrica.touched)" class="invalid-feedback">
                              O número de conta é obrigatório.
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="form-control-label" for="nome">Nome *</label>
                            <input
                              class="form-control"
                              id="nome"
                              name="nome"
                              required="true"
                              [(ngModel)]="subRubrica.nome"
                              placeholder="Nome"
                              type="text"
                              #nome="ngModel"
                            >
                            <div *ngIf="nome.invalid && (nome.dirty || nome.touched)" class="invalid-feedback">
                              O nome é obrigatório.
                            </div>
                          </div>
                        </div>

                        <div class="col-md-6">
                          <div class="form-group">
                            <label class="form-control-label" for="nome">Valor *</label>
                            <input
                              class="form-control"
                              id="valor"
                              name="valor"
                              required="true"
                              [(ngModel)]="subRubrica.valor"
                              placeholder="Valor"
                              type="number"
                              #valor="ngModel"
                            >
                            <div *ngIf="valor.invalid && (valor.dirty || valor.touched)" class="invalid-feedback">
                              O Valor é obrigatório.
                            </div>
                          </div>
                        </div>

                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <button type="button" class="btn btn-success" [disabled]="subRubricaForm.invalid" (click)="saveSubRubrica()">
                            <i class="fas fa-plus mr-2"></i>{{ isEdit ? 'Salvar' : 'Gravar' }}
                          </button>
                        </div>
                      </div>
                    </form>
                    <div class="col-12">
                      <hr> <!-- This will add a horizontal line to separate each account -->
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                      <thead class="thead-light">
                      <tr>
                        <th scope="col">Codigo</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Acção</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr *ngFor="let subRubrica of subRubricas" >
                        <td>{{subRubrica.codigo_rubrica}}</td>
                        <td>{{subRubrica.nome}}</td>
                        <td>{{subRubrica.valor | number: '1.2-2'}}</td>
                        <td><button type="button" class="btn btn-success btn-sm mr-2" [routerLink]="['/view-subRubrica', subRubrica.id]">
                          <i class="fas fa-eye"></i> Ver
                        </button></td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </mat-tab>

            <!-- Requisicoes Tab -->
            <mat-tab label="Distribuição">
              <ng-template mat-tab-label>
                <i class="fas fa-project-diagram mr-2"></i> Requisições
              </ng-template>
              <div class="p-3">
                <div class="row">
                  <div class="col-sm">
                    <div class="col-12">
                      <hr> <!-- This will add a horizontal line to separate each account -->
                    </div>
                    <a [routerLink]="['/persist-financiamento']"> Emitir Requisição</a>
                    <br>
                    <div class="col-12">
                      <hr> <!-- This will add a horizontal line to separate each account -->
                    </div>
                  </div>
                  <div class="table-responsive">
                    <table class="table align-items-center table-flush">
                      <thead class="thead-light">
                      <tr>
                        <th scope="col">Descrição</th>
                        <th scope="col">Valor</th>
                        <th scope="col">Moeda</th>
                        <th scope="col">Data Início</th>
                        <th scope="col">Data Fim</th>
                        <th scope="col">Acção</th>
                      </tr>
                      </thead>
                      <tbody>
                      <!--                      <tr *ngFor="let financiamento of financiamentos">-->
                      <!--                        <th scope="row">{{ financiamento.descricao }}</th>-->
                      <!--                        <th scope="row">{{ financiamento.valor }}</th>-->
                      <!--                        <th scope="row">{{ financiamento.moeda_financiador?.sigla }}</th>-->
                      <!--                        <th scope="row">{{ financiamento.data_inicio }}</th>-->
                      <!--                        <th scope="row">{{ financiamento.data_fim }}</th>-->
                      <!--                        <td>-->
                      <!--                          <button [routerLink]="['/edit-financiador', financiador.id]" class="btn btn-info btn-sm mr-2"-->
                      <!--                                  type="button">-->
                      <!--                            <i class="fas fa-edit"></i> Editar-->
                      <!--                          </button>-->
                      <!--                          <button [routerLink]="['/view-financiador', financiador.id]" class="btn btn-success btn-sm mr-2"-->
                      <!--                                  type="button">-->
                      <!--                            <i class="fas fa-eye"></i> Ver-->
                      <!--                          </button>-->
                      <!--                        </td>-->
                      <!--                      </tr>-->
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
      <div class="card-body">
        <!-- Page content -->

      </div>
    </div>
  </div>
</div>

