<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div >

        </div>
      </div>
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <button type="button" class="btn btn-success" [routerLink]="['/persist-conta']" > <i class="fas fa-plus mr-2" ></i>Nova</button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
              <tr>
                <th scope="col">Designação</th>
                <th scope="col">Banco</th>
                <th scope="col">Moeda</th>
                <th scope="col">Número de conta</th>
                <th scope="col">Acção</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let conta of contas">
                <th scope="row">
                  {{ conta.designacao }}
                </th>
                <td>
                  {{conta.banco?.nome}}
                </td>
                <td>
                  {{conta.moeda?.designacao}}
                </td>
                <td>
                  {{conta.nr_conta}}
                </td>
                <td>
                  <button type="button" class="btn btn-info btn-sm mr-2" [routerLink]="['/edit-conta', conta.id]">
                    <i class="fas fa-edit"></i> Editar
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
