<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row">
        <!-- Add some content here -->
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="card mb-4">
    <div class="card-header"><h3 class="mb-0">{{ isEdit ? 'Editar Conta' : 'Adicionar Nova Conta' }}</h3></div>
    <div class="card-body">
      <form #contaForm="ngForm">
        <div class="row">
          <div class="col-md-6">
            <label class="form-control-label" for="tipo">Tipo *</label>
            <select
              class="form-control"
              id="tipo"
              name="tipo"
              required="true"
              (change)="onTipoChange($event.target.value)"

            >
              <option value="">Selecione o Tipo</option>
              <option value="Financiador">Financiador</option>
              <option value="Beneficiario">Beneficiario</option>
              <option value="Actividade">Actividade</option>
            </select>

          </div>

          <div class="col-md-6" *ngIf="selectedTipo === 'Financiador'">
            <label class="form-control-label" for="financiador">Financiador *</label>
            <select
              class="form-control"
              id="financiador"
              name="financiador"
              required="true"
              [(ngModel)]="conta.financiador"
              #financiador="ngModel"
            >
              <option *ngFor="let financiador of financiadores" [value]="financiador.id">{{ financiador.nome }}</option>
            </select>
            <div *ngIf="financiador.invalid && (financiador.dirty || financiador.touched)" class="invalid-feedback">
              O financiador é obrigatório.
            </div>
          </div>

          <div class="col-md-6" *ngIf="selectedTipo === 'Beneficiario'">
            <label class="form-control-label" for="beneficiario">Beneficiario *</label>
            <select
              class="form-control"
              id="beneficiario"
              name="beneficiario"
              required="true"
              [(ngModel)]="conta.beneficiario"
              #beneficiario="ngModel"
            >
              <option *ngFor="let beneficiario of beneficiarios" [value]="beneficiario.id">{{ beneficiario.nome }}</option>
            </select>
            <div *ngIf="beneficiario.invalid && (beneficiario.dirty || beneficiario.touched)" class="invalid-feedback">
              O beneficiario é obrigatório.
            </div>
          </div>

<!--          <div class="col-md-6" *ngIf="selectedTipo === 'Actividade'">-->
<!--            <label class="form-control-label" for="actividade">Actividade *</label>-->
<!--            <select-->
<!--              class="form-control"-->
<!--              id="actividade"-->
<!--              name="actividade"-->
<!--              required="true"-->
<!--              [(ngModel)]="conta.actividade"-->
<!--              #actividade="ngModel"-->
<!--            >-->
<!--              <option *ngFor="let actividade of actividades" [value]="actividade.id">{{ actividade.nome }}</option>-->
<!--            </select>-->
<!--            <div *ngIf="actividade.invalid && (actividade.dirty || actividade.touched)" class="invalid-feedback">-->
<!--              A actividade é obrigatória.-->
<!--            </div>-->
<!--          </div>-->
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label" for="designacao">Designação *</label>
              <input
                class="form-control"
                id="designacao"
                name="designacao"
                required="true"
                [(ngModel)]="conta.designacao"
                placeholder="Nome"
                type="text"
                #designacao="ngModel"
              >
              <div *ngIf="designacao.invalid && (designacao.dirty || designacao.touched)" class="invalid-feedback">
                A designação é obrigatória.
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label class="form-control-label" for="banco">Banco *</label>
            <select
              class="form-control"
              id="banco"
              name="banco"
              required="true"
              [(ngModel)]="conta.banco"
              #banco="ngModel"
            >
              <option *ngFor="let banco of bancos" [value]="banco.id">{{ banco.nome }}</option>
            </select>
            <div *ngIf="banco.invalid && (banco.dirty || banco.touched)" class="invalid-feedback">
              O banco é obrigatório.
            </div>
          </div>
          <div class="col-md-6">
            <label class="form-control-label" for="moeda">Moeda *</label>
            <select
              class="form-control"
              id="moeda"
              name="moeda"
              required="true"
              [(ngModel)]="conta.moeda"
              #moeda="ngModel"
            >
              <option *ngFor="let moeda of moedas" [value]="moeda.id">{{ moeda.designacao }}</option>
            </select>
            <div *ngIf="moeda.invalid && (moeda.dirty || moeda.touched)" class="invalid-feedback">
              A moeda é obrigatória.
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label" for="nr_conta">Número de Conta *</label>
              <input
                class="form-control"
                id="nr_conta"
                name="nr_conta"
                required="true"
                [(ngModel)]="conta.nr_conta"
                placeholder="Número de Conta"
                type="text"
                #nrConta="ngModel"
              >
              <div *ngIf="nrConta.invalid && (nrConta.dirty || nrConta.touched)" class="invalid-feedback">
                O número de conta é obrigatório.
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label" for="nib">NIB *</label>
              <input
                class="form-control"
                id="nib"
                name="nib"
                required="true"
                [(ngModel)]="conta.nib"
                placeholder="NIB"
                type="text"
                #nib="ngModel"
              >
              <div *ngIf="nib.invalid && (nib.dirty || nib.touched)" class="invalid-feedback">
                O NIB é obrigatório.
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label" for="iban">IBAN</label>
              <input
                class="form-control"
                id="iban"
                name="iban"
                [(ngModel)]="conta.iban"
                placeholder="IBAN"
                type="text"
              >
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label" for="balcao">Balcão</label>
              <input
                class="form-control"
                id="balcao"
                name="balcao"
                [(ngModel)]="conta.balcao"
                placeholder="Balcão"
                type="text"
              >
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label class="form-control-label" for="swift">SWIFT Balcão</label>
              <input
                class="form-control"
                id="swift"
                name="swift"
                [(ngModel)]="conta.swift"
                placeholder="SWIFT Balcão"
                type="text"
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <button type="button" class="btn btn-success" [disabled]="contaForm.invalid" (click)="saveConta()">
              <i class="fas fa-plus mr-2"></i>{{ isEdit ? 'Salvar' : 'Gravar' }}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
