<!-- Exemplo de form -->
<!-- banco.component.html -->
<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row">
        <!--Add some content here -->
      </div>
    </div>
  </div>
</div>

<div class=" container-fluid mt--6">
  <div class=" card mb-4">
    <div class=" card-header"><h3 class=" mb-0">Adicionar nova conta</h3></div>
    <div class=" card-body">
      <div class=" row">
        <div class=" col-md-6">
          <div class=" form-group"><label class=" form-control-label" for="example2cols1Input"> Designação </label><input
            class=" form-control" id="example2cols1Input" placeholder="Nome" type="text"></div>
        </div>
        <div class=" col-md-6">
          <div class=" form-group"><label class=" form-control-label" for="example2cols2Input"> Sigla</label><input
            class=" form-control" id="example2cols2Input" placeholder="Sigla" type="text"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <button type="button" class="btn btn-success" >
            <i class="fas fa-plus mr-2"></i>Gravar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
