<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <h1 class="font-weight-bold" style="text-align: center; color: aliceblue;">Emitir Requisição</h1>
    <div class="header-body">
      <div class="row">
        <!--Adicione conteúdo aqui -->
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--6">
  <div class="card mb-4">
    <div class="card-header mb-3 " style="background-color: #cefff9;">
      <button [routerLink]="['/dashboard']" class="btn btn-success" type="button">
        <i class="fas fa-home mr-2"></i>Home
      </button>
      &nbsp;
      <button [routerLink]="['/requisicao-rubrica']" class="btn btn-success" type="button">
        <i class="fas fa-list mr-2"></i>Lista de Requisições
      </button>
    </div>

    <div class="card-body">
      <div class="card-header">
        <h3 class="mb-0">{{ isEdit ? 'Editar Requisição' : 'Adicionar Nova Requisição' }}</h3>
      </div>
      <form #requisicaoRubricaForm="ngForm">
        <div class="row">

          <!--   Rubricas do Projecto-->
          <div class="col-md-6">
            <label class="form-control-label" for="rubrica_projecto">Rubrica do Projeto</label>
            <select
              class="form-control"
              id="rubrica_projecto"
              name="rubrica_projecto"
              [(ngModel)]="requisicaoRubrica.rubrica_projecto"
              (ngModelChange)="onRubricaChange($event)"
            >
              <option *ngFor="let rubrica of rubricasProjecto" [value]="rubrica.id">{{ rubrica.nome }}</option>
            </select>
          </div>

          <div class="col-md-6">
            <label class="form-control-label" for="sub_rubrica">SubRubrica</label>
            <select
              class="form-control"
              id="sub_rubrica"
              name="sub_rubrica"
              [(ngModel)]="requisicaoRubrica.sub_rubrica"
              (ngModelChange)="onSubRubricaChange($event)"
            >
              <option *ngFor="let subrubrica of filteredSubRubricas" [value]="subrubrica.id">{{ subrubrica.nome }}</option>
            </select>
          </div>

          <!-- Display additional fields for selected SubRubrica -->
            <div *ngIf="selectedSubRubrica" class="col-md-6">
              <label class="form-control-label" for="moeda_distribuicao">Moeda de Distribuição</label>
              <input
                class="form-control"
                id="moeda_distribuicao"
                name="moeda_distribuicao"
                type="text"
                disabled
                (change)="onMoedaChange()"
                [value]="selectedSubRubrica?.moeda_sub_rubrica?.sigla || 'N/A'"
              />
            </div>

            <div *ngIf="selectedSubRubrica" class="col-md-6">
              <label class="form-control-label" for="valor">Valor Disponível:</label>
              <input
                class="form-control"
                id="valor"
                name="valor"
                type="text"
                disabled
                [value]="selectedSubRubrica.valor"
              />
            </div>

          <!--      Rubricas do Estado-->
          <div class="col-md-6">
            <label class="form-control-label" for="rubrica_estado">Rubrica Estado</label>
            <select
              [(ngModel)]="requisicaoRubrica.rubrica_estado"
              class="form-control"
              id="rubrica_estado"
              name="rubrica_estado"
            >
              <option *ngFor="let rubrica_estado of rubricasEstado"
                      [value]="rubrica_estado.id">{{ rubrica_estado.nome }}
              </option>
            </select>
          </div>

          <!--          Dados da Requisicao -->
          <div class="col-md-6">
            <label class="form-control-label" for="nr_requisicao_interna">Número da Requisição Interna*</label>
            <input
              [(ngModel)]="requisicaoRubrica.nr_requisicao_interna"
              class="form-control"
              id="nr_requisicao_interna"
              name="nr_requisicao_interna"
              required
              type="text"
            />
          </div>

          <div class="col-md-6">
            <label class="form-control-label" for="nome_documento">Nome do Documento*</label>
            <input
              [(ngModel)]="requisicaoRubrica.nome_documento"
              class="form-control"
              id="nome_documento"
              name="nome_documento"
              required
              type="text"
            />
          </div>

          <div class="col-md-6">
            <label class="form-control-label" for="descricao">Descrição*</label>
            <input
              [(ngModel)]="requisicaoRubrica.descricao"
              class="form-control"
              id="descricao"
              name="descricao"
              required
              type="text"
            />
          </div>


          <div class="col-md-6">
            <label class="form-control-label" for="moeda_requisicao">Moeda da Despesa *</label>
            <select
              [(ngModel)]="requisicaoRubrica.moeda_requisicao"
              class="form-control"
              id="moeda_requisicao"
              name="moeda_requisicao"
              required="true"
              (ngModelChange)="onMoedaChange()"
            >
              <option *ngFor="let moeda of moedas" [ngValue]="moeda">{{moeda.sigla}}</option>
            </select>
          </div>

          <div class="col-md-6">
            <label class="form-control-label" for="irps">IRPS %</label>
            <input
              [(ngModel)]="requisicaoRubrica.irps"
              class="form-control"
              id="irps"
              name="irps"
              step="0.01"
              type="number"
            />
          </div>

          <div class="col-md-6">
            <label class="form-control-label" for="nr_referencia">Número de Referência *</label>
            <input
              [(ngModel)]="requisicaoRubrica.nr_referencia"
              class="form-control"
              id="nr_referencia"
              name="nr_referencia"
              type="number"
              required="true"
            />
          </div>

          <div class="col-md-6">
            <label class="form-control-label" for="nr_documento">Número do Documento *</label>
            <input
              [(ngModel)]="requisicaoRubrica.nr_documento"
              class="form-control"
              id="nr_documento"
              name="nr_documento"
              type="number"
              required="true"
            />
          </div>

          <div class="col-md-6">
            <label class="form-control-label" for="data_emissao">Data de Emissão *</label>
            <input
              [(ngModel)]="requisicaoRubrica.data_emissao"
              class="form-control"
              id="data_emissao"
              name="data_emissao"
              type="date"
              required="true"
            />
          </div>

          <div class="col-md-6">
            <label class="form-control-label" for="valor_inicial">Valor da Despesa (MT)*</label>
            <input
              [(ngModel)]="requisicaoRubrica.valor_inicial"
              class="form-control"
              id="valor_inicial"
              name="valor"
              step="0.01"
              type="number"
              required="true"
              (change)="calculateCurrencyConversion()"
            />
          </div>

          <div class="col-md-6">
            <label class="form-control-label" for="valor_total">Valor em (USD)</label>
            <input
              [(ngModel)]="requisicaoRubrica.valor_convertido"
              class="form-control"
              id="valor_total"
              name="valor_total"
              step="0.01"
              type="number"
              disabled
              [value]="requisicaoRubrica.valor_convertido || 'N/A'"
            />
          </div>

<!--          <div class="col-md-6">-->
<!--            <label class="form-control-label" for="valor_moeda_distribuicao">Valor em Moeda de Distribuição</label>-->
<!--            <input-->
<!--              [(ngModel)]="requisicaoRubrica.valor_moeda_distribuicao"-->
<!--              class="form-control"-->
<!--              id="valor_moeda_distribuicao"-->
<!--              name="valor_moeda_distribuicao"-->
<!--              step="0.01"-->
<!--              type="number"-->
<!--            />-->
<!--          </div>-->

          <div class="col-md-6">
            <label class="form-check-label" for="pagarFornecedor">Pagar a um Fornecedor</label>
            <div class="form-check">
              <input
                type="checkbox"
                class="form-check-input"
                id="pagarFornecedor"
                [(ngModel)]="pagarFornecedor"
              />
            </div>
          </div>

          <div class="col-md-6" *ngIf="pagarFornecedor">
            <label class="form-control-label" for="fornecedor">Fornecedor</label>
            <select
              class="form-control"
              id="fornecedor"
              name="fornecedor"
              [(ngModel)]="requisicaoRubrica.fornecedor"
            >
              <option *ngFor="let fornecedor of fornecedores" [value]="fornecedor.id">
                {{ fornecedor.nome }}
              </option>
            </select>
          </div>

        </div>

        <div class="text-center mt-4">
          <button (click)="saveRequisicaoRubrica()" [disabled]="requisicaoRubricaForm.invalid" class="btn btn-success"
                  type="button">
            <i class="fas fa-save mr-2"></i>{{ isEdit ? 'Salvar Alterações' : 'Adicionar Requisição' }}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
