<!-- projecto.component.html -->
<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <div class="row"></div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container-fluid mt--7">
  <!-- Table -->
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <button type="button" class="btn btn-success" [routerLink]="['/dashboard']">
            <i class="fas fa-home mr-2"></i>Home
          </button>
          &nbsp;
          <button type="button" class="btn btn-success" (click)="checkCambio()">
            <i class="fas fa-plus mr-2"></i>Emitir requisição
          </button>

          <button *ngIf="selectedRequisicoes.length > 0" type="button" class="btn btn-primary" (click)="emitirOPSelectedRequisicoes()">
            <i class="fas fa-money-bill-alt mr-2"></i>Emitir OP
          </button>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
              <tr>
                <th scope="col">Sel.</th>
                <th scope="col">Sub Rubrica</th>
                <th scope="col">Valor</th>
                <th scope="col">Data de Emissão</th>
                <th scope="col">Referência</th>
                <th scope="col">Estado Pagamento</th>
                <th scope="col">Acção</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let requisicao of requisicoes">
                <th scope="row">
                  <input type="checkbox"
                         [disabled]="requisicao.estado_pagamento === 'PAGA' ||
                                    (selectedDataEmissao && requisicao.data_emissao !== selectedDataEmissao)"
                         (change)="onCheckboxChange($event, requisicao)"
                         autocomplete="off">
                </th>
                <th scope="row">{{requisicao.sub_rubrica?.nome}}</th>
                <th scope="row">{{ requisicao.valor_inicial | number: '1.2-2'}} {{requisicao.moeda_requisicao?.sigla}}</th>
                <th scope="row">{{requisicao.data_emissao | date: 'yyyy-MM-dd'}}</th>
                <th scope="row">{{requisicao.nr_referencia}}</th>
                <td>
                  <span class="badge"  [ngClass]="{
                      'badge-warning': requisicao.estado_pagamento === 'PENDENTE',
                      'badge-success': requisicao.estado_pagamento === 'PAGA',
                      'badge-danger': requisicao.estado_pagamento === 'ACTIVA'
                    }">{{ requisicao.estado_pagamento }}</span>
                </td>
                <td>
                  <button type="button" class="btn btn-default btn-sm mr-2" [routerLink]="['/edit-requisicaoRubrica', requisicao.id]">
                    <i class="fas fa-print"></i>
                  </button>
                  <button type="button" class="btn btn-info btn-sm mr-2" [routerLink]="['/edit-requisicao-rubrica', requisicao.id]">
                    <i class="fas fa-edit"></i> Editar
                  </button>
                  <button type="button" class="btn btn-success btn-sm mr-2" (click)="viewRequisicaoRubrica(requisicao)">
                    <i class="fas fa-edit"></i> Ver
                  </button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
